# Node modules and Vite cache
node_modules/
.vite/
dist/
assets/dist/

# Vite / npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build tools
build/
.cache/
temp/

# WordPress-specific
wp-content/uploads/
wp-content/cache/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Python bytecode
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd
*.so

# Composer
/vendor/
composer.lock

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac system files
Icon?
b