# Node patterns
node_modules/
npm-debug.log*
.yarn-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# WordPress patterns
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/backups/
wp-content/upgrade/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log

# Environment files
.env
